.maindiv
{



height:690px;
width: 1400px;
border-radius:10px;
margin-top:10px;
justify-content: center;
margin: auto;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

body{
    margin: 0;
    padding: 0;
    background: url(back.jpg) ;
    background-repeat: no-repeats;
    background-size: cover;
    align-items: center;
  }

h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-style: italic;
    font-weight: bold;
    font-family: cursive;
    text-align: center;
    margin: auto;
}
.rightdiv
{
position:absolute;
color: white;
height:350px;
width:1200px;
background-color:none;
border:none;
align-items: center;
margin-top:60px;
float:left;
margin: auto;


}
